{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}

{% block content %}
<section class = "header_1" >
    <div class="Header_1" >
      <h1 class="neon">Create an account</h1>
    </div>
  </section>

  <section id="Tell">
    <h2 id="tell"> Create Account </h2>
    <h3>To write stories, create an account with us. </h3>
    <br>
    <h3>Then you can tell your story!</h3>
    </section>  

  <div class="container">
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
  </div>
{% endblock %}