{% extends 'base.html' %} 
{% load static %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}


{% block content %}
<section class = "header_1" >
    <div class="Header_1" >
      <h1 class="neon">Profile</h1>
    </div>
  </section>
  
  <section id="Tell">
  <h2 id="tell"> Your Profile </h2>
  <h3>Update your profile details </h3>
  <br>
  </section>

<section id="comments">
    <div class="container">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div>
  <h3 id="tell">Your Stories</h3>
</section>
<div id="all_stories">
{% for story in user_stories %}
{% include 'news/storyCard.html' with story=story  %} 
{% endfor %}
</div>
  {% endblock %}
