
<div id="navbar" >
    {% if request.user.is_authenticated %}
    <ul>  
        <li><a href="#"><span class="orange">Hey, {{ user.username }}! </span></a></li>
        <li><a href="{% url 'users:account_view' %}">My Account</a></li>
        <li><a href="{% url 'news:index' %}">Home </a></li>
        <li><a href="{% url 'news:newStory' %}">Tell a Story </a></li>
        
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    {% else %}
    <ul>
        <li><a href="{% url 'news:index' %}">Home </a></li>
        <li><a href="{% url 'users:createAccount' %}">Create Account </a></li>
        <li><a href="{% url 'login' %}">Login </a></li>
    </ul>  
    {% endif %}

   
</div>

