@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }

body {
    
    background-color: white;
    /*background-color: rgb(240, 239, 239);*/
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rebeccapurple;
    margin:0px;
    padding: 5px 40px;
}

#header-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rebeccapurple;
    margin:0px;
    padding: 5px 40px;
}

.search-field{
    border-color: white;
    background-color:transparent;
    color: white;
}

.orange{
    color: orange;
}

.purple{
    color: rebeccapurple;
}

.page-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    padding: 0px 40px;
    margin:0px; 
  
}

img {
    filter: grayscale(0%);
}

h1 {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

h2 {
   /*font-family: 'Montserrat Subrayada', sans-serif; */
}

h3 {
    font-size: 2rem;
    margin: 0;
}




#navbar li{
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    padding: 0.5rem;
}

li a{
    color:rebeccapurple;
}

li a:hover{
    color:orange;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    /*font-family: monospace;*/
}

.header_1{
    background:linear-gradient(180deg,#663399 , #6617cb, #cb218e),
    url('images/background_image.jpg') no-repeat;
    padding: 200px 40px;
    height:100%;

}

.neon{
    font-family: "Satisfy", Sans-serif;
    font-weight: 200;
    color: white;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #ffa300, 0 0 41px #ffa300, 0 0 46px #ffa300, 0 0 50px #ffa300, 0 0 75px #ffa300;
    
}