{% extends 'base.html' %} 
{% load static %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}

{% block content %}

<section class = "header_1" >
  <div class="Header_1" >
    <h1 class="neon">Stories by {{ author.username }}</h1>
  </div>
</section>

<section id="Tell">
  <h2 id="tell"> {{ author.username }} </h2>
  <h3>Here are all the stories written by your favourite writer!</h3>
  <br>
  <h3>Enjoy the read</h3>
  </section>

<div id="all_stories">
  {% if all_stories %} 
    {% for story in all_stories %} 
      {% include './storyCard.html' with story=story  %} 
    {% endfor %} 
  {% else %}
     <p>No stories are available.</p>
  {% endif %}
</div>

{% endblock %}





